<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>changeAvatar</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<img id="bg" src="/img/bg.jpg" />
<div class="sign-div">
    <form class="form-signin" action="/changeAvatar" method="post">
        <div th:if="${not #strings.isEmpty(session.errorMsg)}" class="form-group">
            <div class="alert alert-danger" th:text="${session.errorMsg}"></div>
        </div>
        <h1 style="color: white">修改头像</h1>
        <input class="sign-text" type="text" name="avatar" placeholder="头像的URL" required="" autofocus="">
        <input class="sign-btn" type="submit" value="点击修改">
        <a href="/">不改了</a>
    </form>

</div>


</body>
</html>