<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/community.js"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'articles'}">
                <div class="media" th:each="article : ${pagination.data}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 src="/img/cky-logo.png">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/article/'+ ${article.id}}" th:text="${article.title}"></a>
                        </h4>
                        <span class="text-desc">
                        <span th:text="${article.commentCount}"></span> 个回复 • <span
                                th:text="${article.viewCount}"></span> 次浏览 • <span
                                th:text="${#dates.format(article.createTime,'yyyy-MM-dd HH:mm')}"></span> •
                        <a th:href="@{'/publish/'+${article.id}}" class="community-menu"
                           th:if="${session.user != null && session.user.id == article.authorId}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                    </a>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'replies'}">
                <div class="media" th:each="notification : ${pagination.data}">
                    <div class="media-body">
                        <p class="media-heading">
                            <span th:text="${notification.notifierName}"></span>
                            <span>评论了你的文章</span>
                            <a th:href="@{'/notification/'+ ${notification.id}}"
                               th:text="${notification.articleTitle}">
                            </a>
                            <span class="label label-danger" th:if="${notification.status == 0}">未读</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${pagination.showFirstPage}">
                            <a th:href="@{'/profile/'+${section}(page=${1})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showPrevious}">
                            <a th:href="@{'/profile/'+${section}(page=${pagination.page - 1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>

                        <li th:each="page : ${pagination.pages}" th:class="${pagination.page == page}? 'active' : ''">
                            <a th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}"></a>
                        </li>

                        <li th:if="${pagination.showNext}">
                            <a th:href="@{'/profile/'+${section}(page=${pagination.page +1})}" aria-label="Previous">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showEndPage}">
                            <a th:href="@{'/profile/'+${section}(page=${pagination.totalPage})}" aria-label="Previous">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/articles"
                   th:class="${section == 'articles'}? 'active list-group-item' : 'list-group-item'">我的文章</a>
                <a href="/profile/replies"
                   th:class="${section == 'replies'}? 'active list-group-item' : 'list-group-item'">
                    最新消息
                    <span class="badge" th:text="${session.unreadCount}"></span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>