<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SignUp</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<img id="bg" src="/img/bg2.jpg" />
<div class="sign-div">
    <form class="form-signin" action="/register" method="post">
        <div th:if="${not #strings.isEmpty(session.errorMsg)}" class="form-group">
            <div class="alert alert-danger" th:text="${session.errorMsg}"></div>
        </div>
        <div th:if="${not #strings.isEmpty(session.successMsg)}" class="form-group">
            <div class="alert alert-danger" th:text="${session.successMsg}"></div>
        </div>
        <h1 style="color: lightgray">注册</h1>
        <input class="sign-text" type="text" name="userName" placeholder="用户名" required="" autofocus="">
        <input class="sign-text" type="password" name="password" placeholder="密码" required="">
        <input class="sign-text" type="text" name="avatar" placeholder="头像的URL,不填则使用默认头像(包你喜欢)">
        <input class="sign-btn" type="submit" value="点击注册">
        <a href="/login">已有账号? 点击登录</a>
    </form>
</div>
</body>
</html>