<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cky.community.dao.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.cky.community.entity.Article">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
        <result column="view_count" jdbcType="INTEGER" property="viewCount" />
        <result column="like_count" jdbcType="INTEGER" property="likeCount" />
        <result column="tag" jdbcType="VARCHAR" property="tag" />
        <result column="author_id" jdbcType="INTEGER" property="authorId" />
    </resultMap>

    <sql id="Base_Column_List">
      id, title, content, create_time,update_time, comment_count,
      view_count, like_count, tag, author_id
    </sql>

    <insert id="create" parameterType="com.cky.community.entity.Article">
        insert into article (id, title, content, tag, author_id) values
        (#{id}, #{title}, #{content}, #{tag}, #{authorId})
    </insert>

    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from article
        where id = #{id}
        order by update_time desc
    </select>

    <select id="getRelatedArticles" parameterType="com.cky.community.entity.Article" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from article
        <where>
            <if test="id != null">
                and id != #{id}
            </if>
            <if test="tag != null and tag != ''">
                and tag regexp #{tag}
            </if>
        </where>
        order by create_time desc limit 20
    </select>

    <select id="countBySearch" parameterType="com.cky.community.dto.ArticleQueryDto" resultType="java.lang.Integer">
        select count(*) from article
        <where>
            <if test="search != null and search != ''">
                and title regexp #{search}
            </if>
            <if test="search != null and search != ''">
                or tag regexp #{search}
            </if>
        </where>
    </select>

    <select id="findBySearch" parameterType="com.cky.community.dto.ArticleQueryDto" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from article
        <where>
            <if test="search != null and search != ''">
                and title regexp #{search}
            </if>
            <if test="search != null and search != ''">
                or tag regexp #{search}
            </if>
        </where>
        order by create_time desc
        limit #{page},#{size}
    </select>

    <select id="getArticleList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from article
        order by update_time desc
        limit #{start},#{size}
    </select>

    <select id="totalCount" resultType="java.lang.Integer">
        select count(*) from article;
    </select>

    <select id="getArticlesByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from article
        where author_id = #{userId}
        order by update_time desc
        limit #{start},#{size}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from article
        where author_id = #{userId};
    </select>

    <update id="update">
        update article
        set title=#{title},content=#{content},
        tag=#{tag},update_time=#{updateTime}
        where id=#{id}
    </update>

    <update id="incViewCount" parameterType="java.lang.Integer">
        update article
        set view_count = view_count+1
        where id = #{id}
    </update>

    <update id="incCommentCount" parameterType="java.lang.Integer">
        update article
        set comment_count = comment_count+1
        where id = #{id}
    </update>

    <update id="incLikeCount" parameterType="java.lang.Integer">
        update article
        set like_count = like_count+1
        where id = #{id}
    </update>

    <select id="findHotArticles" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from article
        order by view_count desc
        limit 5
    </select>
</mapper>